.visa p {
    font-size: 60px;
}
.visa {
  display: flex;

}
.visa img {
    height: 60px;
    margin: 75px; 
}
.qrt {
  height: 500px;
}
body {
     background-image: url(cer2.jpg);
     background-repeat: no-repeat;
     background-size: 100cm
}
p {
  color: lightblue;
}