h1 {
    text-align: center;
    color: white;
    font-size: 3cm;
    padding: 0px;
}

p {
    color: white;
    font-size: 1.5cm
}
div {
    color: white;
}
.rozbalovaci {
    overflow: hidden;
    font-size: 30px;
    height: 1lh;
    padding: 5px;
}
.rozbalovaci.rozbaleno {
    height: auto;
}
.tlacitko {
    cursor: pointer;
}
img {
    margin: 0%;
    padding: 0%;
}
a { 
    font-size: 1cm;
}
.link {
    color: lightblue;
    margin: 50px;
    font-size: 70px;
}
body {
     background-image: url(cer2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}.yt {
    height: 100px;
    margin: 10px;
    
}
