h1 {
    text-align: center;
    color: black;
    font-size: 3cm;
    padding: 0px;
}

p {
    color: black;
    font-size: 1.5cm
}
div {
    color: black;
}
.rozbalovaci {
    overflow: hidden;
    font-size: 30px;
    height: 1lh;
    padding: 5px;
}
.rozbalovaci.rozbaleno {
    height: auto;
}
.tlacitko {
    cursor: pointer;
}
img {
    margin: 0%;
    padding: 0%;
}
a { 
    font-size: 1cm;
}
.link {
    color: black;
    margin: 50px;
    font-size: 70px;
}
body {
     background-color: ;
}
