h1 {
    text-align: center;
    color: white;
    font-size: 3cm;
    padding: 0px;
}

div {
    color: white;
}
.rozbalovaci {
    overflow: hidden;
    font-size: 30px;
    height: 1lh;
    padding: 5px;
}
.rozbalovaci.rozbaleno {
    height: auto;
}
.tlacitko {
    cursor: pointer;
}
img {
    margin: 0%;
    padding: 0%;
}
a { 
    font-size: 1cm;
}
.link {
    color: lightblue;
    margin: 50px;
    font-size: 70px;
}
body {
     background-image: url(cer2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}
.yt {
    height: 100px;
    margin: 10px;
    
}
.dis {
    height: 110px;
    margin: 10px;
}
.kick {
    height: 110px;
    margin: 10px;
}
.insta {
    height: 110px;
    margin: 10px;
}
header {
    display: flex;
    justify-content: space-evenly;
}

.kon {
    color: white;
    text-align: ;
    font-size: 40px
    
}

p {
    color: white;
    font-size: 40px
}
@media (max-width: 600px) {
    p {
        font-size: 15px;
    }
}