body {
     background-image: url(cer2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}

.link {
    color: lightblue;
    margin: 50px;
    font-size: 50px;
    padding-top: 50px;
}