
.popis {
    text-align: right;
    font-size: 1cm;
    padding: 1cm;
    
}
.nahoru {
    display: flex;
    align-items: center;
}
    
a {
  color: white;
  font-size: 100px;
}
.flex{
   gap: 30px;
}
.nsr {
    height: 200px;
    
}
.link {
      color: lightblue;
}
body {
     background-image: url(cer2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}
p {
    color: lightblue;
}
