
.popis {
    text-align: right;
    font-size: 1cm;
    padding: 1cm;
    
}
.nahoru {
    display: flex;
    align-items: center;
}
    
a {
    font-size: 70px
    
}
.flex{
   gap: 30px;
}
.nsr {
    height: 200px;
    
}
.link {
      color: darkblue;
}