.bile {
  width: 10cm;
  height: auto;
  padding-left: 1cm;
  padding-top: 5cm;
}
.popis {
    text-align: right;
    font-size: 1cm;
    padding: 1cm;
    
}
.nahoru {
    display: flex;
    align-items: center;
}
    
a {
    font-size: 70px
    
}
