img {
    height: 500px;
}
p {
    font-size: 50px;
}
a {
    font-size: 50px;
}
body {
     background-image: url(cer2.jpg);
     background-repeat: no-repeat;
     background-size: 100cm;
}
p {
    color: lightblue;
}
a {
    color: white;
}